.DS_Store
CMakeCache.txt
cmake_install.cmake
*.so
*.swp
*.swo
*.pyc
*.a
*.o
*.dylib
.java-version
.idea/
*.vscode/*
*__pycache__/*
replay_data
original_agents/venv2
original_agents/venv3

# Quux Executables
run_*Bot
exp_*Bot

# Walton Executables
*/walton_rivers_agents/results

# Rainbow models
original_agents/rainbow/pretrained_model
original_agents/rainbow/tmp

# WTFWT executables
original_agents/WTFWT/target
