absl-py
astor
cffi
enum34
gast
gin-config
google-pasta
grpcio
h5py
Keras
Keras-Applications
Keras-Preprocessing
Markdown
numpy
pandas
pip
protobuf
pycparser
python-dateutil
pytz
PyYAML
scipy
setuptools
six
tb-nightly
tensorflow
tensorflow-gpu
termcolor
tf-estimator-nightly
Werkzeug
wheel
wrapt
keras
